/*
 * EUIKit Extended Palette
 *
 * Based on the 12-bit Rainbow Palette by Kate Morley
 * https://iamkate.com/data/12-bit-rainbow/
 */

@theme {
    --color-plum-50:  #ede8ec;
    --color-plum-100: #dfd2dd;
    --color-plum-200: #cfabca;
    --color-plum-300: #c56db8;
    --color-plum-400: #ac359b;
    --color-plum-500: #881177;
    --color-plum-600: #690c5c;
    --color-plum-700: #4e0944;
    --color-plum-800: #370630;
    --color-plum-900: #250420;
    --color-plum-950: #170314;


   --color-mulberry-50: #e9d9de;
   --color-mulberry-100: #ddb3bf;
   --color-mulberry-200: #d67792;
   --color-mulberry-300: #ca5073;
   --color-mulberry-400: #be395f;
   --color-mulberry-500: #aa3355;
   --color-mulberry-600: #922c49;
   --color-mulberry-700: #7b253d;
   --color-mulberry-800: #631e32;
   --color-mulberry-900: #4e1425;
   --color-mulberry-950: #3c0d1a;

   --color-coral-50: #e6dbdb;
   --color-coral-100: #dcc6c6;
   --color-coral-200: #d4b0b0;
   --color-coral-300: #ce9797;
   --color-coral-400: #cc7f7f;
   --color-coral-500: #cc6666;
   --color-coral-600: #bb3a3a;
   --color-coral-700: #942e2e;
   --color-coral-800: #6d2222;
   --color-coral-900: #461616;
   --color-coral-950: #2f0f0f;

   --color-tangerine-50:  #fbf2e9;
   --color-tangerine-100: #f9e6d2;
   --color-tangerine-200: #f7d9ba;
   --color-tangerine-300: #f6cca2;
   --color-tangerine-400: #f3ba91;
   --color-tangerine-500: #ee9944;
   --color-tangerine-600: #f58c23;
   --color-tangerine-700: #d77009;
   --color-tangerine-800: #9c5207;
   --color-tangerine-900: #673604;
   --color-tangerine-950: #442403;

   --color-sunflower-50:  #faf8e1;
   --color-sunflower-100: #f9f6c8;
   --color-sunflower-200: #faf5a8;
   --color-sunflower-300: #fcf483;
   --color-sunflower-400: #fdf35e;
   --color-sunflower-500: #eedd00;
   --color-sunflower-600: #b3a70f;
   --color-sunflower-700: #918108;
   --color-sunflower-800: #6d5d03;
   --color-sunflower-900: #4b3c02;
   --color-sunflower-950: #322801;

   --color-grass-50:  #f2fcee;
   --color-grass-100: #e0eed2;
   --color-grass-200: #cce8b0;
   --color-grass-300: #b3e481;
   --color-grass-400: #99d54d;
   --color-grass-500: #99dd55;
   --color-grass-600: #7cb849;
   --color-grass-700: #5d8f37;
   --color-grass-800: #426627;
   --color-grass-900: #2a4418;
   --color-grass-950: #1a2b10;

   --color-jade-50:  #e0f8f1;
   --color-jade-100: #d2eedf;
   --color-jade-200: #b0e8c9;
   --color-jade-300: #81e4ad;
   --color-jade-400: #4de591;
   --color-jade-500: #44dd88;
   --color-jade-600: #1fc669;
   --color-jade-700: #189650;
   --color-jade-800: #116a35;
   --color-jade-900: #0a4221;
   --color-jade-950: #062814;

   --color-turquoise-50:  #e0f4f4;
   --color-turquoise-100: #c7eae8;
   --color-turquoise-200: #b0ded9;
   --color-turquoise-300: #7cd5cc;
   --color-turquoise-400: #3ed0c1;
   --color-turquoise-500: #22ccbb;
   --color-turquoise-600: #1e9e92;
   --color-turquoise-700: #17786e;
   --color-turquoise-800: #10514e;
   --color-turquoise-900: #0a3331;
   --color-turquoise-950: #061e1d;

   --color-electric-50:  #f0f9ff;
   --color-electric-100: #d4ebed;
   --color-electric-200: #a8e1e6;
   --color-electric-300: #6cdbe5;
   --color-electric-400: #21dced;
   --color-electric-500: #00bbcc;
   --color-electric-600: #04929f;
   --color-electric-700: #036e77;
   --color-electric-800: #024e55;
   --color-electric-900: #013237;
   --color-electric-950: #011b1e;

   --color-cerulean-50:  #eff8ff;
   --color-cerulean-100: #d4e7ed;
   --color-cerulean-200: #a8d6e6;
   --color-cerulean-300: #6cc7e5;
   --color-cerulean-400: #21baed;
   --color-cerulean-500: #0099cc;
   --color-cerulean-600: #04789f;
   --color-cerulean-700: #035a77;
   --color-cerulean-800: #024055;
   --color-cerulean-900: #012937;
   --color-cerulean-950: #01171e;

   --color-sapphire-50:  #eff0f8;
   --color-sapphire-100: #d9e1e9;
   --color-sapphire-200: #b2c7dc;
   --color-sapphire-300: #93a9cd;
   --color-sapphire-400: #4d7ec1;
   --color-sapphire-500: #3366bb;
   --color-sapphire-600: #2b5292;
   --color-sapphire-700: #213e6e;
   --color-sapphire-800: #172c4f;
   --color-sapphire-900: #0f2033;
   --color-sapphire-950: #09131f;

   --color-amethyst-50:  #f2f1fd;
   --color-amethyst-100: #d9cfe2;
   --color-amethyst-200: #bfa9d6;
   --color-amethyst-300: #9e6ecf;
   --color-amethyst-400: #8547c2;
   --color-amethyst-500: #7339ac;
   --color-amethyst-600: #663399;
   --color-amethyst-700: #572b82;
   --color-amethyst-800: #47246b;
   --color-amethyst-900: #381c54;
   --color-amethyst-950: #29123f;
}
