@theme {
    --plum-50: '#d8a6d1',
    --plum-100: '#d675c8',
    --plum-200: '#e425c9',
    --plum-300: '#be18a7',
    --plum-400: '#9f148b',
    --plum-500: '#881177',
    --plum-600: '#6d0e5f',
    --plum-700: '#520a47',
    --plum-800: '#360730',
    --plum-900: '#1c0219',

   --mulberry-50: '#e9d9de',
   --mulberry-100: '#ddb3bf',
   --mulberry-200: '#d67792',
   --mulberry-300: '#ca5073',
   --mulberry-400: '#be395f',
   --mulberry-500: '#aa3355',
   --mulberry-600: '#922c49',
   --mulberry-700: '#7b253d',
   --mulberry-800: '#631e32',
   --mulberry-900: '#4e1425',

   --coral-50: '#e9d9de',
   --coral-100: '#ddb3bf',
   --coral-200: '#d67792',
   --coral-300: '#ca5073',
   --coral-400: '#be395f',
   --coral-500: '#aa3355',
   --coral-600: '#922c49',
   --coral-700: '#7b253d',
   --coral-800: '#631e32',
   --coral-900: '#4e1425',

   --tangerine-50: '#040302',
   --tangerine-100: '#faf2eb',
   --tangerine-200: '#f7d1ab',
   --tangerine-300: '#f3b87c',
   --tangerine-400: '#f0a65b',
   --tangerine-500: '#ee9944',
   --tangerine-600: '#eb8a28',
   --tangerine-700: '#e07a14',
   --tangerine-800: '#c46b12',
   --tangerine-900: '#b05c08',

   --sunflower-50: '#f4f3df',
   --sunflower-100: '#f1ecaf',
   --sunflower-200: '#fff45f',
   --sunflower-300: '#fff02c',
   --sunflower-400: '#ffed08',
   --sunflower-500: '#eedd00',
   --sunflower-600: '#cfc100',
   --sunflower-700: '#b1a400',
   --sunflower-800: '#928800',
   --sunflower-900: '#3a3a39',

   --lime-50: '#030402',
   --lime-100: '#f2f8ec',
   --lime-200: '#d1f0b3',
   --lime-300: '#b8e788',
   --lime-400: '#a6e16a',
   --lime-500: '#99dd55',
   --lime-600: '#8ad83c',
   --lime-700: '#7acc29',
   --lime-800: '#6bb224',
   --lime-900: '#5c9f18',

   --jade-50: '#020302',
   --jade-100: '#dff4e9',
   --jade-200: '#a3eec4',
   --jade-300: '#78e6a9',
   --jade-400: '#5ae196',
   --jade-500: '#44dd88',
   --jade-600: '#2ad878',
   --jade-700: '#23c169',
   --jade-800: '#1ea75b',
   --jade-900: '#14934c',

   --turquoise-50: '#e2f1f0',
   --turquoise-100: '#b9e8e3',
   --turquoise-200: '#76e8dd',
   --turquoise-300: '#4ae1d2',
   --turquoise-400: '#2cdcca',
   --turquoise-500: '#22ccbb',
   --turquoise-600: '#1eb2a3',
   --turquoise-700: '#19988b',
   --turquoise-800: '#157d73',
   --turquoise-900: '#0c675e',

   --cyan-50: '#c6e9ec',
   --cyan-100: '#93e4ec',
   --cyan-200: '#3defff',
   --cyan-300: '#0aebff',
   --cyan-400: '#00d2e6',
   --cyan-500: '#00bbcc',
   --cyan-600: '#009fad',
   --cyan-700: '#00838f',
   --cyan-800: '#006770',
   --cyan-900: '#282929',

   --azure-50: '#c6e2ec',
   --azure-100: '#93d6ec',
   --azure-200: '#3dcfff',
   --azure-300: '#0ac2ff',
   --azure-400: '#00ace6',
   --azure-500: '#0099cc',
   --azure-600: '#0082ad',
   --azure-700: '#006b8f',
   --azure-800: '#005470',
   --azure-900: '#282929',

   --sapphire-50: '#e4e8f0',
   --sapphire-100: '#becce3',
   --sapphire-200: '#81a4dd',
   --sapphire-300: '#5987d2',
   --sapphire-400: '#3d72ca',
   --sapphire-500: '#3366bb',
   --sapphire-600: '#2c59a3',
   --sapphire-700: '#264c8b',
   --sapphire-800: '#1f3f73',
   --sapphire-900: '#15315e',

   --indigo-50: '#d9cfe2',
   --indigo-100: '#bfa9d6',
   --indigo-200: '#9e6ecf',
   --indigo-300: '#8547c2',
   --indigo-400: '#7339ac',
   --indigo-500: '#663399',
   --indigo-600: '#572b82',
   --indigo-700: '#47246b',
   --indigo-800: '#381c54',
   --indigo-900: '#29123f',
}
